.calculation {
  position: relative;
  padding: 100px 0px;

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--light-text);
    margin-bottom: 70px;
  }

  &__content {
    display: flex;
    gap: 130px;
  }

  &__subtitle {
    max-width: 360px;
    min-width: 360px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--light-text);

    & span {
      font-weight: 700;
      background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    margin-bottom: 20px;
  }

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--light-text);
  }

  &__perks {
    margin-bottom: 48px;
  }

  &__perks-title {
    max-width: 292px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 30px;
  }

  &__perks-row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__perks-item {
    display: flex;
    gap: 15px;
  }

  &__perks-line {
    user-select: none;
    margin-top: 13px;
  }

  &__perks-text {
    min-width: 294px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--light-text);
  }

  &__form-question {
    margin-bottom: 40px;
  }

  &__form-question-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 20px;
  }

  &__form-choose {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__form-option {
    cursor: pointer;
    border: 0.5px solid var(--light-stroke);
    padding: 11px 10px;
    backdrop-filter: blur(15px);

    & p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--light-text);
    }
  }

  &__form-addition {
    margin-bottom: 40px;
  }

  &__form-addition-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 20px;
  }

  &__form-addition-choose {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__form-addition-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;

    border: 1px solid var(--light-stroke);
    backdrop-filter: blur(15px);
    padding: 27px 30px 29px 32px;
  }

  &__form-addition-option-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
  }

  &__form-phone-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-gray);
    margin-bottom: 10px;
  }

  &__form-phone-input {
    border: 1px solid var(--light-stroke);
    background: rgba(14, 16, 20, 0.6);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--light-text);
    padding: 20px 15px;

    margin-bottom: 30px;
  }

  &__form-end {
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &__form-button {
    cursor: pointer;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--white);
  }

  &__form-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--light-text);

    & span {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-skip-ink: none;

      &:hover {
        color: var(--light-gray);
      }
    }
  }

  &__decor-1 {
    user-select: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
  }

  &__decor-2 {
    user-select: none;
    position: absolute;
    top: 30%;
    left: 35%;
  }

  &__decor-3 {
    user-select: none;
    position: absolute;
    bottom: 15%;
    left: 20%;
  }

  &__decor-4 {
    user-select: none;
    position: absolute;
    bottom: 5%;
    left: 35%;
  }
}

/* ============================================================================== */

@media (max-width: 1250px) {
  .calculation {
    &__title {
      text-align: center;
    }

    &__content {
      flex-direction: column;
    }

    &__texts {
      text-align: center;
    }

    &__subtitle {
      margin: 0px auto 20px;
    }

    &__content {
      gap: 80px;
    }

    &__perks-row {
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .calculation {
    &__perks-text {
      min-width: 2px;
    }

    &__perks-title {
      text-align: center;
      margin: 0px auto 30px;
    }

    &__form-text {
      font-size: 10px;
    }
  }
}

@media (max-width: 528px) {
  .calculation {
    padding: 100px 0px;

    &__title {
      font-size: 32px;
      margin-bottom: 50px;
    }

    &__subtitle {
      font-size: 18px;
      min-width: 300px;
    }

    &__text {
      font-size: 15px;
    }

    &__perks-title {
      text-align: left;
    }

    &__perks-text {
      font-weight: 400;
      font-size: 12px;
    }

    &__form-option p {
      font-size: 14px;
    }

    &__form-choose {
      flex-wrap: wrap;
    }

    &__form-addition-choose {
      flex-wrap: wrap;
    }

    &__form-addition-option {
      padding: 17px 20px 19px 22px;
    }

    &__form-addition-option-text {
      font-size: 16px;
    }

    &__form-phone-title {
      font-size: 16px;
    }

    &__form-end {
      flex-direction: column;
    }

    &__form-text {
      text-align: center;
    }

    &__form-end {
      gap: 11px;
    }
  }
}
