.home {
  position: relative;
  padding: 100px 0px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 362px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--light-text);

    & span {
      font-family: var(--font-family);
      font-weight: 900;
      font-size: 48px;
      background: linear-gradient(123deg, #fcb045 24.21%, #ff3f78 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    margin-bottom: 30px;
  }

  &__subtitle {
    max-width: 275px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--light-text);
  }

  &__free-title {
    max-width: 291px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: var(--light-text);

    & span {
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    margin: 0px 0px 40px auto;
  }

  &__free-items {
    margin-bottom: 61px;
  }

  &__free-item-lower {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
  }

  &__free-item-upper {
    display: flex;
    justify-content: end;
  }

  &__free-item {
    max-width: 165px;
  }

  &__free-item-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
    color: var(--light-text);
    margin-bottom: 6px;
  }

  &__free-item-text {
    max-width: 170px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: var(--light-text);
  }

  &__decor-1 {
    user-select: none;
    position: absolute;
    top: 70%;
    right: 40%;
  }

  &__decor-2 {
    user-select: none;
    position: absolute;
    top: -10%;
    left: 40%;
  }

  &__decor-3 {
    user-select: none;
    position: absolute;
    top: -20%;
    right: 35%;
  }

  &__scene {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
  }
}
.button {
  cursor: pointer;
  float: right;
  max-width: 271px;
  min-width: 262px;
  background: var(--blue);
  padding: 21px 34px;
  border-radius: 15px;
  transition: all 0.2s linear;
  text-align: center;

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--light-text);
  }

  &:hover {
    box-shadow: 0 0 40px 6px rgba(64, 119, 243, 0.3);
    background: var(--dark-blue);
    transform: scale(1.05);
  }
}

.bubble {
  z-index: -10;
}

.title-animation {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.title-animation-visible {
  opacity: 1;
}

/* ============================================================================== */

@media (max-width: 768px) {
  .home {
    padding: 70px 0px;

    &__container {
      flex-direction: column;
    }

    &__title {
      text-align: center;
      margin: 0px auto 10px;
    }

    &__subtitle {
      text-align: center;
      margin: 0px auto;
      margin-bottom: 60px;
    }

    &__free-title {
      text-align: center;
      margin: 0px auto 30px;
    }

    &__free-item-lower {
      justify-content: center;
    }

    &__free-item-title {
      text-align: center;
    }

    &__free-item-text {
      text-align: center;
    }

    &__free-item-upper {
      justify-content: center;
    }

    &__button {
      margin: 0px auto;
      float: none;
    }

    &__scene {
      display: none;
    }
  }
}

@media (max-width: 528px) {
  .home {
    &__title {
      font-size: 32px;

      & span {
        font-size: 32px;
      }
    }

    &__subtitle {
      font-size: 16px;
    }

    &__free-title {
      font-size: 16px;
    }

    &__free-item-title {
      font-size: 16px;
    }

    &__free-item-text {
      font-size: 14px;
    }

    &__scene {
      left: 0%;
    }
  }
}
