.problems {
  position: relative;
  padding: 100px 0px;

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--light-text);
    margin-bottom: 70px;
  }

  &__texts {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
  }

  &__subtitle {
    max-width: 459px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & span {
      font-weight: 400;
      color: var(--light-text);
      -webkit-text-fill-color: white;
    }
  }

  &__text {
    max-width: 322px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--light-text);
  }

  &__row {
    display: flex;
    gap: 192px;
    margin-bottom: 74px;
  }

  &__column-first-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 30px;
  }

  &__column-first-item {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__column-first-line {
    margin-top: 13px;
  }

  &__column-first-text {
    min-width: 267px;
    max-width: 263px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--light-text);
  }

  &__column-second-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 30px;
  }

  &__column-second-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 67px;
  }

  &__column-second-item {
    max-width: 250px;
    display: flex;
    gap: 10px;
  }

  &__column-second-line {
    margin-top: 13px;
  }

  &__column-second-text {
    min-width: 263px;
    max-width: 263px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--light-text);
  }

  &__addition-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: var(--light-text);

    & span {
      font-weight: 700;
      background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    margin-bottom: 50px;
  }

  &__addition-row {
    display: flex;
    justify-content: space-between;
  }

  &__addition-icon {
    margin-bottom: 20px;
  }

  &__addition-row-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 20px;
  }

  &__addition-text {
    max-width: 294px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--light-text);
  }

  &__decor-1 {
    user-select: none;
    position: absolute;
    bottom: 40%;
    right: 15%;
  }
}

/* ============================================================================== */

@media (max-width: 1250px) {
  .problems {
    &__title {
      font-size: 44px;
      margin-bottom: 50px;
    }

    &__row {
      gap: 152px;
    }

    &__column-first-text {
      font-size: 14px;
    }

    &__column-second-text {
      font-size: 14px;
    }

    &__addition-row {
      justify-content: center;
      text-align: center;
    }

    &__addition-text {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .problems {
    &__title {
      text-align: center;
      font-size: 36px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__text {
      font-size: 14px;
    }

    &__row {
      gap: 50px;

      flex-direction: column;
      justify-content: center;
    }

    &__column-first-item {
      justify-content: center;
    }

    &__column-second-item {
      justify-content: center;
    }

    &__column-first-title {
      text-align: center;
    }

    &__column-second-title {
      text-align: center;
    }

    &__column-second-content {
      justify-content: center;
    }

    &__addition-title {
      text-align: center;
    }

    &__addition-row-title {
      font-size: 16px;
    }

    &__addition-text {
      font-size: 11px;
    }
  }
}

@media (max-width: 528px) {
  .problems {
    padding: 50px 0px;

    &__title {
      font-size: 32px;
    }

    &__texts {
      flex-direction: column;
    }

    &__subtitle {
      text-align: center;
    }

    &__text {
      text-align: center;
    }

    &__column-first-text {
      font-size: 11px;
    }

    &__column-second-text {
      font-size: 11px;
    }

    &__addition-title {
      font-size: 22px;
    }

    &__addition-icon img {
      width: 50px;
      height: 50px;
    }

    &__addition-row-title {
      font-size: 13px;
    }

    &__addition-text {
      font-size: 8px;
    }
  }
}
