.widgets {
  position: relative;
  padding: 100px 0px;

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--light-text);
    margin-bottom: 70px;
  }

  &__texts {
    display: flex;
    align-items: center;
    gap: 193px;
    margin-bottom: 50px;
  }

  &__subtitle {
    max-width: 293px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--light-text);

    & span {
      font-weight: 700;
      background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    max-width: 275px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--light-text);
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--dark-gray);
  }

  &__content {
    padding: 59px 0px 30px 67px;
  }

  &__possibilities {
    margin-bottom: 160px;
  }

  &__possibilities-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 20px;
  }

  &__possibilities-items {
    display: flex;
    align-items: center;
    gap: 20px 30px;
    flex-wrap: wrap;
  }

  &__possibilities-item {
    display: flex;
    gap: 10px;
  }

  &__possibilities-item-icon {
    margin-top: 13px;
  }

  &__possibilities-item-text {
    max-width: 263px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--light-text);
  }

  &__yandex {
    background: linear-gradient(90deg, #0e1014 0%, rgba(14, 16, 20, 0) 100%);
    padding: 20px 30px 50px 20px;
    border-radius: 10px;
  }

  &__yandex-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text);
    margin-bottom: 20px;
  }

  &__yandex-content {
    display: flex;
    align-items: end;
    gap: 42px;
  }

  &__yandex-item {
    display: flex;
    gap: 10px;
  }

  &__yandex-item-icon {
    margin-top: 13px;
  }

  &__yandex-item-text {
    max-width: 306px;
    min-width: 306px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--light-text);
  }

  &__list {
    backdrop-filter: blur(15px);
    background: linear-gradient(
      137deg,
      rgba(26, 29, 35, 0.1) 0%,
      rgba(26, 29, 35, 0.1) 26.62%,
      rgba(26, 29, 35, 0.1) 52.1%,
      rgba(26, 29, 35, 0.2) 77.62%,
      rgba(26, 29, 35, 0.2) 100%
    );
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;

    backdrop-filter: blur(15px);
    background: linear-gradient(
      137deg,
      rgba(26, 29, 35, 0.1) 0%,
      rgba(26, 29, 35, 0.1) 26.62%,
      rgba(26, 29, 35, 0.1) 52.1%,
      rgba(26, 29, 35, 0.2) 77.62%,
      rgba(26, 29, 35, 0.2) 100%
    );
    padding: 24px 30px;
  }

  &__item-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-gray);
  }

  &__decor-1 {
    user-select: none;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  &__decor-2 {
    user-select: none;
    position: absolute;
    top: 20%;
    right: 30%;
  }

  &__decor-3 {
    user-select: none;
    position: absolute;
    bottom: -5%;
    right: 10%;
  }
}

.item-active {
  backdrop-filter: blur(15px);
  background: linear-gradient(
    153deg,
    rgba(255, 246, 233, 0.274) 0%,
    rgba(26, 29, 35, 0.589) 57.73%
  );
}

/* ============================================================================== */

@media (max-width: 1250px) {
  .widgets {
    &__main {
      overflow: auto;
    }

    &__content {
      padding: 0px 0px 00px 17px;
    }

    &__title {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .widgets {
    &__subtitle {
      font-size: 18px;
    }

    &__text {
      font-size: 13px;
    }
  }
}

@media (max-width: 528px) {
  .widgets {
    padding: 50px 0px;

    &__title {
      font-size: 32px;
    }

    &__texts {
      flex-direction: column;
    }

    &__texts {
      gap: 30px;
      text-align: center;
    }

    &__text {
      font-size: 11px;
    }

    &__item {
      padding: 14px 20px;
    }

    &__item-text {
      font-size: 14px;
    }

    &__content {
      margin-top: 20px;
    }

    &__possibilities-title {
      font-size: 16px;
    }

    &__possibilities-item-text {
      font-size: 13px;
    }

    &__yandex-title {
      font-size: 16px;
    }

    &__yandex-item-text {
      font-size: 14px;
    }
  }

  .button {
    &__link {
      font-size: 14px;
    }
  }
}
