:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Montserrat', sans-serif;
  --third-family: 'Roboto', sans-serif;

  --light-text: #e4e5ea;
  --white: #fff;
  --black: #0e1014;
  --blue: #4077f3;
  --dark-blue: #3b68d1;
  --dark-gray: #656566;
  --light-stroke: #25262c;
  --purple: #833ab4;
  --red: #fd1d1d;
  --orange: #fcb045;
  --light-gray: #9e9e9e;
}
